h4, h3, p, h6{
  text-align:center;
}
h3 {
  font-style: italic;
}
img {
  width: 280px;
  height :400px;
  margin-left: 550px;
  border-radius: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table, th, td{
  border: 1px solid darkgreen;
  text-align:center;
}

th{
  color:darkgreen;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#header {
  font-size: 50px;
  text-align: center;
  color: aliceblue;
  background-image: radial-gradient(darkgreen, white);
  border-radius: 20px;
  opacity: 0.8;
}

.list-style{
  list-style-type: circle;
  text-align: left;
  margin-left: 550px;
}
